.datatable{
height: 600px;
padding: 20px;
}


.dataTableAdd{
    border:1px solid #ccc;
    padding: 10px;
    margin-Bottom: 10px;
    background-color: rgb(250, 247, 247);
    font-size: 24px;
    color: gray;
    display: flex;
    justify-content: space-between;
    

    
}
.input{
    width: 100%;
 
    
}

.datatable {
    overflow-x: auto;
    width: 100%;
  
    .dataTableAdd {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
  
      .input {
        flex: 1;
        margin-right: 10px;
        margin-bottom: 10px;
        min-width: 100px;
      }
  
      button {
        margin-bottom: 10px;
      }
    }
  
    .MuiDataGrid-root {
      width: 100%;
  
      .MuiDataGrid-columnsContainer {
        min-width: 100%;
      }
  
      .MuiDataGrid-cell {
        word-break: break-word;
      }
  
      .MuiDataGrid-cell:focus-within {
        outline: none;
      }
    }
  
    @media (max-width: 768px) {
      .dataTableAdd {
        flex-direction: column;
        width: 100%;
  
        .input {
          margin-right: 30px;
          margin-bottom: 10px;
          min-width: unset;
        }
      }
    }

    .action {
        display: flex;
        justify-content: flex-end; // Align content to the far right
        gap: 10px; // Add space between the buttons
      }
      
      
  }
  