.datatable{
height: 600px;
padding: 20px;
}

.dataTableAdd{
    font-size: 24px;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.dataTableAdd{
    border:1px solid #ccc;
    padding: 10px;
    margin-Bottom: 30px;
    background-color: rgb(233, 229, 229);

}
