@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


  
  
body{
  background: #ffffffee; 
  font-family: "Poppins", cursive;
  margin: 0;
}

.logApp {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.Logincon{
  max-width: 700px;
  width: 100vh;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  padding: 50px;
  box-shadow: 1px 3px 10px #e2b3e9;
  background-color: white;
}



#form{
  max-width: 330px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
  border-radius: 20px;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #7469B6;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.Request .col-1{
  margin: auto;
  padding: 3em 0;
}

.Request .col-2 svg{
  width: 480px;
  height: 100%;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  
}

.login{
  font-size: 30px;
}


@media screen and (min-width: 860px)  {
  .Request .col-2 svg{
    display: initial; 
  }
}
