

.Req-form {
  position: relative;
  padding: 40px; /* Increase the padding to increase the size of the container */
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}


.contain {
  max-width: 1000px; /* Increase the max-width to increase the width of the container */
  margin: 0 auto;
  padding: 20px; /* Add padding to the contain class */

}

.Req-form .contain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 15px; 
}

.Req-form h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-top: 15px;
}

.Req-form .mainn {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.conten {
  flex-basis: 50%; /* Set the width of the content container to 50% */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.form-image {
  flex-basis: 50%; /* Set the width of the image container to 50% */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-grid {
  max-width: 100%; 
  max-height: 100%; 
  width: auto;
  height: auto;
}
.form-image img {
  width: 60%;
  max-width: 100%;
}


.Req-form form {
  margin: 30px 0;
  padding-top: 60px;
}

.Req-form input {
  outline: none;
  margin-bottom: 15px;
  font-size: 14px;
  color: #999;
  padding: 14px ;
  background-color: #fff;
  transition: 0.3 ease;
  border: 0.3px solid #4e34b6;
margin-left: 15px;  

}

.Req-form input:focus {
  border: 0.3px solid;
}

.Req-form button {
  color: #ffffff;
  background: #4e34b6;
  border: none;
  padding: 14px 15px;
  font-weight: 600;
  font-size: 16px;
  display: block;
  width: 100%;

}

.Req-form button:hover {
  color: #ffffff;
  background: #7134b6;
}
@media (max-width: 736px) {
  .form-image,
  .conten {
    flex-basis: 100%; /* Set the width of both containers to 100% on smaller screens */
    border-radius: 8px; /* Add border radius to both containers on smaller screens */
  }


  .Req-form form {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .form-image {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    order: 2;
  }

  .conten {
    order: 1;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .Req-form .contain {
    padding: 0; 
  }

  .conten {
    padding: 2em; 
  }

  .fform-image {
    display: none; 
  }
}
