*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

html{
    font-family: sans-serif;
}
.car{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.card{
    background:white;
    padding: 3rem 5rem;
    border-radius:2rem ;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
}

img{
    width: 70px;
}
.card p{
    padding-top: 1rem;
    line-height: 150%;
}

.expand{
    width: 30rem;
}
