#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

@media (max-width: 745px) {
  #header {
    padding: 12px 0;
  }
}



.logo{
  width: 120px;
  margin-left: 30px;
}

.navbar {
  padding: 0;
  text-decoration: none;
}

.navbar ul {
  margin: 0;
  padding: 0;
  margin-left: 200px;
  display: flex;
  list-style: none;
  align-items: center;
  text-decoration: none;
}

@media (max-width: 991px) {
  .navbar ul {
    margin-left: 0;
  }
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #6a7489;
  white-space: nowrap;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .navbar a,
  .navbar a:focus {
    padding: 10px 15px;
  }
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: -webkit-linear-gradient(315deg, #030a56 0%, #d74a91 100%);
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 10px 25px;
  border: none !important;
  outline: none !important;
  margin-left: 30px;
  border-radius: 4px;
  line-height: 1;
  color: #5f687b;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #cdd1d9;
}

@media (max-width: 991px) {
  .navbar .getstarted,
  .navbar .getstarted:focus {
    margin-left: 15px;
  }
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  background: -webkit-linear-gradient(315deg, #030a56 0%, #d74a91 100%);
  color: #fff;
  border-color: -webkit-linear-gradient(315deg, #030a56 0%, #d74a91 100%);
}
