.sidebar {
  flex: 1;
  
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  --rebecca-purple: hsl(270, 60%, 15%);
  background-image: linear-gradient(
    to bottom right, 
    hsla(203, 92%, 35.5%, 0.25), 
    var(--rebecca-purple), 
    hsla(27.6, 87.1%, 35.7%, 0.25)
  );
  background-color: var(--rebecca-purple);


  .top {
    background-color: hsl(0, 0%, 100%) ;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
     width: 120px;
    }
  }

  

  .center {
    padding: 10px;
    outline: none;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 150px;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #ffffff;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        &:hover {
          background-color: #ece8ff;
          margin-bottom: 10px;

        }

        .icon {
          font-size: 18px;
          color: #ffffff;
          outline: none;
          margin-right: 10px;

        }

        span {
          font-size: 13px;
          font-weight: 600;
          margin-left: 10px;
          color: #f8f8f8;
          text-decoration: none;
          outline: none;

        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .coloOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }

      &:nth-child(2) {
        background-color: #333;
      }

      .link {
        text-decoration: none;
      }
    }
  }

  @media (max-width: 768px) {
    .center {
      ul {
        width: 100%;

        .title {
          display: none;
        }

        li {
          justify-content: center;
          padding: 10px 0;

          .icon {
            margin-right: 0;
          }

          span {
            display: none;
          }
       
        }
      }
    }
  }
}
