.nav-tabss {
    .nav-link {
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
      padding: 15px;
      transition: all 0.3s ease;
  
      &:hover,
      &:focus {
        transform: translateY(-3px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
  
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  
  .link {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 5px;
  }
  