
#Contacts {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  textarea {
    height: 300px;
  }
  .error{
    color: red;
    font-weight: bold;
    display: none;
  }

  button {
    border: none;
    font-weight: 600;
    padding: 5px;
    width: 100px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: #7c3bd9;
    color: #ffff;
  }

  .card-contacts {
    border-radius: 10px;
    padding: 1.5%;
    width: 55%;
    margin-right: 4%;
  
    z-index: 99;
  }
  .contact-heading {
    color: #240353ed;
  }
  .contacter-info {
    gap: 10%;
  }